body {
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-weight: 400;
    margin-top: 80px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

img:hover {
    opacity: 0.7;
    /*do some fancy hover stuff here-should be able to edit profile pic*/
}

#title {
    width: 100%;
    /*
    padding-top: 30px;
    padding-bottom: 40px;
    */
    background-color: white;
    text-align: center;
}

#headInfo {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
}

#profileImage {
    width: 40vw;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-size: 6vw;
    font-weight: 700;
}

#basicInfo {
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 3%;
}

#basicInfo h2 {
    font-weight: 400;
    font-size: 3vw;
}

#bio {
    font-weight: 400;
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: justify;
    font-size: 1.5em;
    padding-top: 5vw;
}



#canTutor h2 {
    font-size: 2em;
}

#needsHelp {
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: left;
}


#needsHelp h2 {
    font-size: 2em;
}


th {
    font-weight: 700;
    font-size: 1.3em;
}

table {
    text-align: left;
    
    
}

tr td {
    vertical-align: middle;
}

th,
td {
    padding: 50px;
}

#prefLoc {
    font-size: 2.5vw;
}


#skills {
    margin-left: 8vw;
    margin-right: 8vw;
    
    
}
#canTutor {
    text-align: left;
    
}


#canTutorButton{
    text-align: right;
    padding-top: 4%;
    padding-bottom: 4%;

  
}

a {
    font-size: 2em;
    border-radius: 100%;
    color: darkorange;
    border: 3px solid darkorange;
    
    
}


.foot {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: dimgray;
    border-top: 1px solid lightgray;
}

.navbar {
    background: rgba(255, 255, 255, 0.7);
}


@media only screen and (max-width: 768px) {
    #profileImage {
        width: 80vw;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .input-group {
        margin-left: 7vw;
        margin-right: 7vw;
    }


}

